<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
<title>Init</title>
</head>
<body>
<h2>予約画面</h2>
<div class="container">
	<h3>アカウント情報</h3>
	<p>名前 : <span th:text="${loginUser.name}"></span></p>
	<p>メールアドレス : <span th:text="${loginUser.email}"></span></p>
</div>
<!-- 予約登録 -->
<form method="post" th:action="@{/reserve}" th:object="${resConForm}">
	<button type="submit" class="btn btn-primary" name="resConFirm">予約登録へ</button>
</form>

<!-- 予約確認 -->
<form method="post" th:action="@{/reserve}" th:object="${resFinForm}">
	<button type="submit" class="btn btn-success" name="resFind">予約確認へ</button>
</form>
</body>
</html>