<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
<title>Init</title>
</head>
<body>
<h2>Top Page</h2>
<form method="post" th:action="@{/user}" th:object="${userConfig}">
	<button name="signup" class="btn btn-primary">会員登録</button>
</form>
<form method="post" th:action="@{/user}" th:object="${userLogin}">
	<button name="login" class="btn btn-success">ログイン</button>
</form>
</body>
</html>